#call_detail {
    background: #FFFFFF;
    height: 70%;
    left: 10%;
    padding: 2%;
    position: fixed;
    top: 5%;
    width: 78%;
    z-index: 5000;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 2px solid #000000;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#close_call{
    clear: both;
    cursor: pointer;
    float: right;
    margin-right: -2%;
    margin-top: -2%;
    text-align: right;
    text-decoration: underline;
}

#call_bg{
    background: none repeat scroll 0 0 rgba(0,0,0,0.5);
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4990;
}

#call_content{
    clear:both;
}

img.ajaxloader{
    left: 45%;
    position: absolute;
    text-align: center;
    top: 40%;
}